*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --main-color: #668663;
    --primary-color: #FFFFFF;
    --main-color-dark: #567354;
    --primary-color-dark: #D9D9D9;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html, body {
    margin: 0;
    background-color: var(--main-color);
}

body {
    padding: 12px 13px 12px 32px;
}

#react-root {
    display: flex;
}
