*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --primary-color: #668663;
    --secondary-color: #FFFFFF;
    --primary-color-dark: #567354;
    --primary-color-darkest: #435F40;
    --secondary-color-dark: #D9D9D9;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

html, body {
    margin: 0;
    background-color: var(--primary-color);
}

body {
    padding: 12px 13px 12px 32px;
}

h1, h2, h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
}

#react-root {
    display: flex;
}
